.country__table {
  width: 100%;
  min-height: 206px;
  border: 1px solid @cloudy-blue;
  border-collapse: collapse;
  margin-bottom: 14px;
}

.country__table td:not(:last-child) {
  border-right: 1px solid @cloudy-blue;
}

.country__table tr:not(:last-child) {
  border-bottom: 1px solid @cloudy-blue;
}

.country__table td {
  .size (20%; 20%);
  text-align: center;
  padding: 0;
}

.country__label {
  display: block;
  box-sizing: border-box;
  .size (100%; 100%);
  padding: 23% 0;
  background-color: #ffffff;
  color: @dark-slate-blue;
  border: 1px solid transparent;
}

.country__label:active {
  background-color: @dark-slate-blue;
  color: #ffffff;
}

.country__label:hover {
  border: 1px solid @bluey-grey;
}

.country__label:focus {
  outline: 2px solid #81b3d2;
}

.country__title {
  display: none;
}

.country__list {
  .list-reset ();
  padding-left: 1px;
  margin-bottom: 26px;
  display: none;
}

.country__input:checked ~ .country__list {
  display: block;
}

#a:checked label[for="a"] {
  background-color: dark-slate-blue;
}

.country__item a {
  .link-reset (@greyish-brown);
  display: block;
  padding-bottom: 4px;

  &:hover {
    color: @dark-slate-blue;
  }

  &:active {
    color: @dark-slate-blue-30;
  }
}

@media (min-width: @tablet-width) {
  .country__table {
    border: none;
    width: 58.5%;
    margin-right: 76px;

    td:not(:last-child) {
      border-right: none;
    }

    tr:not(:last-child) {
      border-bottom: none;
    }
  }

  .country__label {
    .font (60px; 24px);
    .font-bold ();
    background-color: transparent;
    padding: 35% 0;
  }

  .country__list {
    margin-top: 3px;

    a {
      .font (20px; 30px);
      padding-bottom: 0px;
    }
  }
}

@media (min-width: @desktop-width) {
  .country__table {
    display: none;
  }

  .country__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .country__letter {
    width: 226px;
    margin-bottom: 42px;
  }

  .country__letter:not(:nth-child(5n)) {
    margin-right: 25px;
  }

  .country__title {
    .font (60px; 24px);
    .font-bold ();
    color: @dark-blue-grey;
    margin-top: 0;
    margin-bottom: 49px;
    display: block;
  }

  .country__list {
    display: block;
  }
}
