.level__wrapper {
  width: 100%;
  display: flex;
  margin-top: 2px;
  margin-bottom: 24px;
}

.level__label {
  input {
    .font (15px; 13.5px);
    color: @dark-slate-blue;
    .font-medium ();
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px 7px 8px;
  }
}

.level__label:first-child {
  position: relative;

  &::before {
    content: "";
    display: block;
    .size (16px; 12px);
    background-color: #ffffff;
    position: absolute;
    top: 12px;
    right: -8px;
  }

  &::after {
    content: "";
    display: block;
    .size (16px; 1px);
    background-color: @cloudy-blue;
    position: absolute;
    top: 17px;
    right: -8px;
  }
}

.level__min {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid @cloudy-blue;
  border-right: none;

  &::before {
    content: "";
    display: block;
    .size (16px; 12px);
    background-color: #ffffff;
    background-image: url("../../img/qty-minus-mobile.svg");
    background-size: 1px 16px;
  }
}

.level__max {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid @cloudy-blue;
}

.level__max:hover,
.level__min:hover {
  border-color: @bluey-grey;
}

.level__max:active,
.level__min:active {
  border-color: @dark-two;
  outline: none;
}

.level__line {
  margin-bottom: 25px;
  position: relative;
}

.level__light-line {
  .size (100%; 2px);
  border-radius: 0.5px;
  opacity: 0.2;
  background-color: @dark-slate-blue-20;
  position: relative;
}

.level__dark-line {
  .size (70%; 2px);
  border-radius: 1px;
  background-color: @dark-slate-blue;
  position: absolute;
  top: 1px;
  left: 30%;

  &::before,
  &::after {
    content: "";
    display: block;
    .size (10px; 10px);
    border-radius: 50%;
    background-color: @dark-slate-blue;
    position: absolute;
  }

  &::before {
    top: -4px;
  }

  &::after {
    top: -4px;
    right: 0;
  }
}

@media (min-width: @tablet-width) {
  .level__wrapper {
    width: 30.5%;
    order: 2;
  }

  .level__line {
    margin-right: auto;
  }

  .level input {
    .font (20px; 18px);
    padding: 10px 10px 10px 4px;
  }

  .level__label:first-child::after {
    width: 17px;
    top: 22px;
  }

  .level__label:first-child::before {
    width: 20px;
    height: 20px;
  }

  .level__light-line {
    width: 277px;
    height: 3px;
    border-radius: 1.5px;
    top: 22px;
  }

  .level__dark-line {
    width: 201px;
    height: 3px;
    border-radius: 1.5px;
    top: 22px;
    left: 29%;
  }

  .level__dark-line::after,
  .level__dark-line::before {
    width: 13px;
    height: 13px;
    top: -5px;
  }

  .level__dark-line::before {
    left: -11px;
  }

  .level__dark-line:hover::after,
  .level__dark-line:hover::before {
    width: 19px;
    height: 19px;
    top: -8px;
    cursor: pointer;
  }

  .level__dark-line:active::after,
  .level__dark-line:active::before {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }
}

@media (min-width: @desktop-width) {
  .level__wrapper {
    width: 100%;
    margin-bottom: 14px;
  }

  .level__line {
    order: 2;
  }

  .level__light-line {
    width: 191px;
  }

  .level__dark-line {
    width: 121px;
    left: 69px;
  }
}
