.page-main__user-nav {
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 46%;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/globe-back-mobile@2x.jpg");
  }
}
.page-main__wrapper-alignment {
  position: relative;
}

.page-main__container {
  min-height: 405px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    display: block;
    .size (192px; 255px);
    background-image: url("../../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 192px 255px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-43%);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/traveller-illustration-mobile@2x.png");
    }
  }
}

.page-main__title {
  .font (36px; 40px);
  .font-bold ();
  text-align: center;
  margin-top: 0;
  padding: 18px 30px;
}

.page-main__list.contacts {
  .list-reset ();
  width: 100%;
  padding: 0 26px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;

  .contacts__link {
    margin: 0;
  }

  .contacts__tel-number {
    &:hover .contacts__wrapper-svg--phone {
      background-color: @dusty-orange;
    }

    &:active .contacts__svg {
      opacity: 1;
      fill: @dark-two-30;
    }
  }

  .contacts__e-mail {
    &:hover .contacts__wrapper-svg--mail {
      background-color: @mango;
    }

    &:active .contacts__svg {
      opacity: 1;
      fill: @dark-two-30;
    }
  }

  .contacts__wrapper-svg {
    .size (40px; 40px);
    margin-right: 0;
  }

  .contacts__tel-number,
  .contacts__e-mail {
    font-size: 0;
  }

  .contacts__wrapper-svg--phone {
    background-color: @mango;
  }

  .contacts__wrapper-svg--mail {
    background-color: @mango-two;
  }

  .contacts__svg {
    fill: @dark-two;
    position: relative;
    top: 13px;
    left: 12px;
  }

  .contacts__svg--phone {
    top: 12px;
  }

  .contacts__link {
    padding: 5px 39px;
  }
}

// Внутренняя страница

.page-main--inner-page {
  background-color: @pale-grey;
  padding-bottom: 88px;

  .companions__list {
    .list-reset ();
    padding: 0 25px;
    margin-bottom: 13px;
  }

  .companions__item {
    padding: 13px 0 62px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
  }

  .companions__wrapper-link {
    display: flex;
    flex-grow: 1;
  }

  .companions__link {
    .link-reset (@dark-slate-blue);
  }

  .companions__wrapper-name {
    width: calc(74% - 41px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 146px;
  }

  .companions__name {
    .font (20px; 20px);
    margin: 0 0 0;
    padding-right: 60px;
    position: relative;
  }

  .companions__name--red,
  .companions__name--green {
    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      right: 22px;
    }
  }

  .companions__name--red::before {
    background-color: @salmon;
  }

  .companions__name--green::before {
    background-color: @green-apple;
  }

  .companions__img {
    border-radius: 50%;
  }

  .companions__link-img {
    width: 70px;
    margin: 2px 16px 0 19px;
  }

  .companions__like {
    display: flex;
    position: relative;
    left: -38px;
  }

  .companions__heart {
    .size (31px; 31px);
    border-radius: 50%;
    background-color: @pale-grey;
    margin-right: 6px;
    order: 1;
    border: none;

    &:hover .companions__svg-heart {
      opacity: 0.5;
    }

    &:active .companions__svg-heart {
      opacity: 0.1;
    }
  }

  .companions__heart--active {
    background-color: @very-light-pink-two;

    &:hover {
      background-color: @light-tan;
    }

    &:hover .companions__svg-heart--active {
      opacity: 1;
    }

    &:active .companions__svg-heart--active {
      opacity: 0.3;
    }
  }

  .companions__svg-heart {
    fill: @dark-blue-grey-30;
    position: relative;
    top: 2px;
    left: 1px;
  }

  .companions__svg-heart--active {
    fill: @tomato;
  }

  .companions__number-like {
    .font (14px; 21px);
    .font-bold ();
    text-transform: uppercase;
    color: @dark-two;
    margin-top: 7px;
    order: 2;
  }

  .companions__preferences {
    .font (15px; 18px);
    color: @greyish-brown;
    margin: 12px 0 16px;
    order: 3;
    width: 180px;
    position: relative;
    left: -79px;
    bottom: 9px;
  }

  .companions__control {
    margin-top: auto;
  }

  .companions__dream-countries {
    position: relative;
    &::before {
      content: "";
      display: block;
      .size (100%; 1px);
      background-color: @pale-grey;
      position: absolute;
      top: 10px;
    }
  }

  .companions__dream-countries--second {
    margin-bottom: 6px;
  }

  .companions__dream-countries--third {
    margin-bottom: 4px;
  }

  .companions__dream-countries--fourth {
    margin-bottom: 5px;
  }

  .dream-countries__span {
    .font (15px; 18px);
    .font-bold ();
    text-transform: uppercase;
    color: @dark-slate-blue;
  }

  .dream-countries__list {
    padding: 0 25px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .dream-countries__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .dream-countries__item--sri-lanka::before,
  .dream-countries__item--thailand::before,
  .dream-countries__item--seychelles::before,
  .dream-countries__item--belgium::before,
  .dream-countries__item--сzech::before,
  .dream-countries__item--usa::before,
  .dream-countries__item--australia::before,
  .dream-countries__item--dominica::before,
  .dream-countries__item--germany::before,
  .dream-countries__item--united-kingdom::before {
    .size (26px; 18px);
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    background-size: 26px 18px;
  }

  .companions__heading {
    .font (15px; 18px);
    color: @greyish-brown;
    background-color: #ffffff;
    padding: 0 14px;
    margin: 0 12px 16px 12px;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .companions__wrapper-info {
    display: flex;
    position: relative;
    margin-bottom: 19px;

    &::before {
      content: "";
      display: block;
      .size (100%; 1px);
      background-color: @pale-grey;
      position: absolute;
      top: 10px;
    }
  }

  .companions__transport.transport {
    .transport__list {
      padding-left: 25px;
      position: relative;
      top: 2px;
    }

    .transport__item {
      background-color: @pale-grey;
    }
  }

  .companions__level {
    .size (40px; 40px);
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    top: 26px;
    left: -20px;

    &::before {
      display: none;
    }
  }

  .companions__heading--level-cir {
    top: -29px;
    right: 25px;
  }

  .companions__heading--level {
    display: none;
  }

  .companions__number {
    .font (24px; 18px);
    color: @dark-slate-blue;
    top: -12px;
    left: 8px;
  }

  .companions__button {
    .font (17px; 30px);
    .font-bold ();
    .link-reset (@dark-two);
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
  }

  .companions__button--gold {
    display: block;
    background-color: @light-gold;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    bottom: 21px;
    left: 20px;
    width: calc(100% - 40px);

    &:hover {
      background-color: @mango-two;
    }

    &:active {
      color: @dark-two-30;
    }
  }

  .companions__button--more {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 42px;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .companions__button--more::before,
  .companions__button--more::after {
    content: "";
    display: block;
    .size (18px; 2px);
    background-color: @dark-slate-blue;
    position: absolute;
    top: 19px;
    left: 8px;
  }

  .companions__button--more::before {
    transform: rotate(90deg);
  }

  .companions__button--more {
    &:hover,
    &:hover::before,
    &:hover::after {
      opacity: 0.6;
    }

    &:active,
    &:active::before,
    &:active::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-main__user-nav {
    position: relative;
    background-color: #182044;
    background-image: url(../../img/globe-back-tablet@1x.jpg);
    background-position: center 250px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/globe-back-tablet@2x.jpg);
    }
  }

  .page-main__container {
    min-height: 862px;
    box-sizing: border-box;
    padding-bottom: 540px;

    &::before {
      content: "";
      display: block;
      .size (372px; 451px);
      background-image: url("../../img/traveller-illustration-tablet@1x.png");
      background-size: 372px 451px;
      background-repeat: no-repeat;
      bottom: 140px;
      left: 50%;
      transform: translate(-27%);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/traveller-illustration-tablet@2x.png");
      }
    }
  }

  .page-main__title {
    .font (60px; 70px);
    padding: 27px 165px 0;
  }

  .page-main__list.contacts {
    display: none;
  }

  // Внутренняя страница

  .page-main--inner-page {
    padding-bottom: 102px;

    .companions__list {
      padding: 0 40px;
      margin-bottom: 39px;
      flex-direction: column;
    }

    .companions__item {
      width: 100%;
      padding: 31px 25px 107px 35px;
      box-sizing: border-box;
      display: flex;

      &::before {
        display: none;
      }
    }

    .companions__item:not(:last-child) {
      margin-bottom: 41px;
    }

    .companions__item:not(:nth-child(2n)) {
      margin-right: 0;
    }

    .companions__link-img {
      width: 36.5%;
      margin: 2px 29px 0 0;
      align-self: flex-start;
    }

    .companions__img {
      border-radius: 20px;
    }

    .companions__like {
      align-items: center;
    }

    .companions__number-like {
      .font (20px; 30px);
      margin: 0;
    }

    .companions__heart {
      .size (50px; 50px);
      margin-right: 10px;
    }

    .companions__svg-heart {
      .size (20px; 17px);
      top: 4px;
      left: 1px;
    }

    .companions__name {
      .font (30px; 30px);
      display: inline-block;
      vertical-align: top;
      padding-left: 4px;
      padding-right: 29px;

      &::before {
        .size(7px; 7px);
        top: 13px;
        right: 0;
      }
    }

    .companions__preferences {
      .font (20px; 24px);
      width: auto;
      margin: 17px 0 0 8px;
      padding-right: 90px;
      left: 0;
      bottom: 0;
    }

    .companions__control {
      order: 3;
      display: flex;
    }

    .companions__wrapper-info {
      margin-bottom: 0;
      position: relative;
      flex-direction: column;

      &::before {
        display: none;
      }

      .companions__heading {
        display: none;
      }
    }

    .companions__transport.transport {
      .transport__list {
        padding-left: 7px;
        flex-direction: column;
        position: relative;
        top: -5px;
      }

      .transport__item {
        background-color: #ffffff;
      }
    }

    .companions__level {
      .size (55px; 55px);
      top: 4px;
      left: 0;
      margin-top: auto;

      &::before {
        content: "";
        display: block;
        width: 31px;
        height: 1px;
        background-color: @greyish-brown-40;
        opacity: 0.3;
        position: absolute;
        top: 33px;
        left: 12px;
      }

      .companions__heading--level {
        display: block;
        color: @greyish-brown-40;
        background-color: transparent;
        margin: 0;
        top: 34px;
        left: -1px;
      }
    }

    .companions__number {
      .font (24px; 24px);
      top: -14px;
      left: 15px;
    }

    .companions__wrapper-name {
      width: calc(74% - 41px);
      min-height: 146px;
      flex-direction: column;
    }

    .companions__dream-countries {
      width: 100%;
      position: absolute;
      top: auto;
      bottom: 21px;
    }

    .companions__dream-countries--second,
    .companions__dream-countries--third,
    .companions__dream-countries--fourth {
      margin-bottom: 0;
    }

    .dream-countries__list {
      padding: 0 35px;
      flex-direction: row;
      justify-content: start;
    }

    .dream-countries__item:not(:last-child) {
      margin-right: 24px;
      margin-bottom: 0;
    }

    .dream-countries__span {
      .font (20px; 30px);
    }

    .dream-countries__item--sri-lanka::before,
    .dream-countries__item--thailand::before,
    .dream-countries__item--seychelles::before,
    .dream-countries__item--belgium::before,
    .dream-countries__item--сzech::before,
    .dream-countries__item--usa::before,
    .dream-countries__item--australia::before,
    .dream-countries__item--dominica::before,
    .dream-countries__item--germany::before,
    .dream-countries__item--united-kingdom::before {
      .size (36px; 24px);
      margin-right: 10px;
      background-size: 36px 24px;
    }

    .companions__heading {
      margin: 0 69px 18px;
    }

    .companions__button.companions__button--gold {
      .font (20px; 30px);
      padding: 10px 31px;
      border-radius: 30px;
      width: auto;
      margin-right: 38px;
      position: relative;
      bottom: 0;
      left: 0;
    }

    .companions__button--more {
      .font (20px; 30px);
      padding-left: 50px;
      margin-bottom: 44px;

      &::before,
      &::after {
        .size (27px; 3px);
        left: -1px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__user-nav {
    background-image: url(../../img/globe-back-desktop@1x.jpg);
    background-position: center 0;
    min-height: 650px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/globe-back-desktop@2x.jpg);
    }
  }

  .page-main__wrapper-alignment {
    width: @desktop-width;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .page-main__container {
    min-height: 650px;
    padding-bottom: 250px;

    &::before {
      content: "";
      display: block;
      .size (431px; 640px);
      background-image: url("../../img/traveller-illustration-desktop@1x.png");
      background-size: 431px 640px;
      background-repeat: no-repeat;
      bottom: 0;
      left: 50%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/traveller-illustration-desktop@2x.png");
      }
    }
  }

  .page-main__title {
    text-align: left;
    padding: 108px 0 0 127px;
    max-width: 400px;
  }

  // Внутренняя страница

  .page-main--inner-page {
    padding-bottom: 116px;

    .page-main__wrapper-section {
      width: @desktop-width;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 60px;
      display: flex;
    }

    .page-main__choice {
      order: 2;
      min-width: 285px;
    }

    .companions {
      flex-grow: 1;
    }

    .companions__list {
      padding: 0;
      margin-bottom: 59px;
    }

    .companions__item {
      padding: 0;
      display: flex;
      min-height: 285px;
    }

    .companions__item:not(:last-child) {
      margin-bottom: 30px;
    }

    .companions__wrapper-link {
      width: 76%;
    }

    .companions__wrapper-name {
      width: 55%;
      box-sizing: border-box;
      padding: 46px 0 47px 60px;
    }

    .companions__name {
      padding: 0;

      &::before {
        right: auto;
        left: -25px;
        top: 12px;
      }
    }

    .companions__link-img {
      width: 285px;
      margin: 0;
    }

    .companions__img {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .companions__preferences {
      padding-right: 0;
      width: auto;
      margin: 17px 0 0 4px;
      padding-right: 30px;
    }

    .companions__control {
      position: relative;
      left: -2px;
    }

    .companions__button.companions__button--gold {
      padding: 10px 30px;
      margin-right: 0;
    }

    .companions__wrapper-info {
      margin-top: auto;
      width: auto;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
    }

    .companions__transport.transport {
      .transport__list {
        flex-direction: row;
        margin-left: -18px;
      }
    }

    .companions__like {
      left: 0;
    }

    .companions__container {
      width: 37%;
      box-sizing: border-box;
      padding: 49px 30px 39px 42px;
      display: flex;
      flex-direction: column;
    }

    .companions__dream-countries {
      position: relative;
      width: auto;
      top: 0;
      left: 0;
      transform: translateX(0);

      &::before {
        display: none;
      }
    }

    .dream-countries__list {
      padding: 0;
      flex-direction: column;
    }

    .dream-countries__item--australia::before,
    .dream-countries__item--belgium::before,
    .dream-countries__item--dominica::before,
    .dream-countries__item--germany::before,
    .dream-countries__item--seychelles::before,
    .dream-countries__item--sri-lanka::before,
    .dream-countries__item--thailand::before,
    .dream-countries__item--united-kingdom::before,
    .dream-countries__item--usa::before,
    .dream-countries__item--сzech::before {
      margin-right: 18px;
    }

    .dream-countries__item:not(:last-child) {
      margin-bottom: 6px;
    }

    .companions__heading {
      display: none;
    }

    .companions__transport {
      margin-bottom: 17px;
      margin-left: 2px;
    }

    .transport__list {
      padding-left: 0;
    }

    .companions__level {
      top: -3px;
      margin-right: 14px;
    }

    .page-main__alignment {
      width: @desktop-width;
      box-sizing: border-box;
      margin: 0 auto;
    }

    .companions__button--more {
      bottom: 0;
      transform: translateX(-66%);
      margin-bottom: 63px;
    }
  }
}
