.personal-page {
  background-color: pale-grey;
}

.personal-page__wrapper-alignment {
  padding: 21px 25px 0;
}

.personal-page__wrapper {
  padding: 0 19px;
  margin-bottom: 21px;
  display: flex;
}

.personal-page__wrapper-img {
  .size (98px; 98px);
  margin-left: auto;
  margin-top: 2px;
}

.personal-page__img {
  border-radius:  50%;
  display: block;
}

.personal-page__fieldset--transport {
  display: none;
}

.personal-page__button-foto {
  .font (17px; 30px);
  .font-bold ();
  color: @dark-two;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 4px 20px;
  margin-bottom: 19px;
  background-color: @pale-grey-two;
  border: none;
  border-radius: 20px;
}

.personal-page__title {
  .font (17px; 30px);
  .font-bold ();
  color: @dark-slate-blue;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  background-color: pale-grey;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
