// Базовые размеры

@tablet-width: 768px;
@desktop-width: 1439px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Базовые цвета
@dark-blue-grey: #192144;
@dark-blue-grey-two: #121936;
@dark-blue-grey-four: #141b3b;
@dark-two: #161c35;
@light-navy: #132576;
@dark-slate-blue: #1d2e5b;
@french-blue: #4758a9;
@lightblue: #8ec7f5;
@medium-pink: #ed5565;
@salmon: #f97676;
@blush-two: #eb9898;
@mango: #ff8d30;
@mango-two: #ffbd30;
@mango-three: #ffa530;
@light-gold: #ffd74b;
@nasty-green: #72a73e;
@green-apple: #81e31e;
@pale-grey: #edeff6;
@pale-grey-four: #e2e5f2;

